@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

:root {
  --background: #f1f1f3;
  /* background-light */
  --foreground: #1b1b1d;
  /* background-dark (as text for light mode) */

  --primary: #a7ff24;
  --background-light: #f1f1f3;
  --background-dark: #1b1b1d;
  --surface-dark: #2c2c2e;
  --accent-blue: #38bdf8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-dark: var(--surface-dark);
  --color-accent-blue: var(--accent-blue);

  --font-display: "Space Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1d;
    /* background-dark */
    --foreground: #f1f1f3;
    /* background-light (as text for dark mode) */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
}